
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_usuarioLayout.cshtml";
}


<div><p>Bienvenido @ViewBag.nombre</p></div>

<script>
    if ('@ViewBag.mensaje' != '') {
        alert('@ViewBag.mensaje');
    }
</script>